body {
	border-spacing: 1px;
}
.smagnifier-overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 100;
	cursor: pointer;
	background-color: black;

	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
}
.smagnifier-wrapper {
	z-index: 110;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	display: none;
	cursor: pointer;
}
.smagnifier-text {
	display: inline-block;
	padding: 25px 50px;
	background: white;
	cursor: default;
	border-radius: 9999px;
	width: 80%;
	height: 80px;
} .smagnifier-text span {
	cursor: text;
}